.site-header {
    background-color: rgb(67, 67, 176);
    padding: 1% 0%;
    height: 65px;
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: left;
}


.navbar {
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-list {
    display: flex;
    align-items: left;
    flex-direction: row;
}

img {
    border-radius: 45%;
}


.site-header h1 {
    padding: 10px 10px;
    font-size: 40px;
    color: white;
    margin: 0;
}

.logo {
    margin-left: 10px;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.nav {
    width: 100%;
    background-color: rgb(67, 67, 176);
}

.nav ul {
    list-style-type: none;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
}

.nav li:hover {
    background-color: rgb(31, 19, 101);
}

.workout-dropdown-area {
    color: white;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
}

.workout-dropdown-content {
    border: black 1px solid;
    border-top: none;
    display: none;
    position: absolute;
    background-color: rgb(67, 67, 176);
    width: inherit;
    z-index: 1;
}

.workout-dropdown-content a:hover {
    background-color: rgb(31, 19, 101);
}

.workout-dropdown-button {
    background-color: rgb(67, 67, 176);
    color: white;
    margin: 0;
    text-align: center;

    font-size: 18px;
    border: none;
    cursor: pointer;
}

.workout-dropdown-button:hover {
    background-color: rgb(31, 19, 101);
}

.workout-dropdown-button:hover + .workout-dropdown-content {
    display: block;
}

.workout-dropdown-content:hover {
    display: block;
}
